swagger: '2.0'
info:
  title: Band Info API
  description: Spotify API endpoints
  version: "1.0.0"
host: api.spotify.com
schemes:
  - https
basePath: /v1
produces:
  - application/json
paths:
  '/artists/{albumId}/albums':
    get:
      description: |
        [Get an Artist's Albums](https://developer.spotify.com/web-api/get-artists-albums/)
      parameters:
        - description: The Spotify ID for the artist
          in: path
          name: albumId
          required: true
          type: string
        - default: 20
          description: The maximum number of items to return
          in: query
          maximum: 50
          minimum: 0
          name: limit
          required: false
          type: integer
        - default: 0
          description: The index of the first item to return
          in: query
          name: offset
          required: false
          type: integer
        - description: Filter by album types
          in: query
          name: album_type
          required: false
          type: string
        - description: The market (an ISO 3166-1 alpha-2 country code)
          in: query
          name: market
          required: false
          type: string
      tags:
        - Artists
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/album-simple-page'
  '/albums/{albumId}':
    get:
      description: |
        [Get an Album](https://developer.spotify.com/web-api/get-album/)
      parameters:
        - description: The Spotify ID for the album
          in: path
          name: albumId
          required: true
          type: string
        - description: The market (an ISO 3166-1 alpha-2 country code)
          in: query
          name: market
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/album'
      tags:
        - Album
  '/search':
    get:
      summary: Search for an Item
      description: |
        Search for an Item (album, artist, trak, playlist)
      parameters:
        - name: q
          in: query
          description: The search query's keywords (and optional field filters and operators).
          required: true
          type: string
          format: string
        - name: Item type
          in: query
          description: A comma-separated list of item types to search across. Valid types are album, artist, playlist, and track.
          required: true
          type: string
          format: string
        - name: Limit
          in: query
          description: The maximum number of results to return. Default 20. Minimum 1. Maximum 50.
          required: false
          type: number
          format: int
        - name: offset
          in: query
          description: The index of the first result to return. Default 0 (i.e., the first result). Maximum offset 100.000. Use with limit to get the next page of search results.
          required: false
          type: number
          format: int
      tags:
        - Search
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/search'
definitions:
  album:
    properties:
      album_type:
        description: 'The type of the album: one of ''album'', ''single'', or ''compilation''.'
        type: string
      artists:
        description: The artists of the album. Each artist object includes a link in href to more detailed information about the artist.
        items:
          $ref: '#/definitions/artist'
        type: array
      available_markets:
        description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
        items:
          type: string
        type: array
      copyrights:
        description: The copyright statements of the album.
        items:
          properties:
            text:
              description: The copyright text for this album.
              type: string
            type:
              description: 'The type of copyright: C = the copyright, P = the sound recording (performance) copyright.'
              type: string
          type: object
        type: array
      external_ids:
        additionalProperties:
          description: 'The identifier type, for example: ''isrc'' - International Standard Recording Code, ''ean'' - International Article Number, ''upc'' - Universal Product Code'
          type: string
        description: Known external IDs for this album.
        type: object
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
      genres:
        description: 'A list of the genres used to classify the album. For example: ''Prog Rock'', ''Post-Grunge''. (If not yet classified, the array is empty.)'
        items:
          type: string
        type: array
      href:
        description: A link to the Web API endpoint providing full details of the album.
        type: string
      albumId:
        description: The Spotify ID for the album.
        type: string
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          $ref: '#/definitions/image'
        type: array
      name:
        description: The name of the album.
        type: string
      popularity:
        description: 'The popularity of the album. The value will be between 0 and 100, with 100 being the most popular. The popularity is calculated from the popularity of the album''s individual tracks.'
        type: integer
      release_date:
        description: 'The date the album was first released, for example ''1981-12-15''. Depending on the precision, it might be shown as ''1981'' or ''1981-12''.'
        type: string
      release_date_precision:
        description: 'The precision with which release_date value is known: ''year'', ''month'', or ''day''.'
        type: string
      tracks:
        $ref: '#/definitions/track-simple-page'
      type:
        description: 'The object type: ''album''.'
        type: string
      uri:
        description: The Spotify URI for the album.
        type: string
    type: object
  album-simple:
    properties:
      album_type:
        description: 'The type of the album: one of ''album'', ''single'', or ''compilation''.'
        type: string
      available_markets:
        description: 'The markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note that an album is considered available in a market when at least 1 of its tracks is available in that market.'
        items:
          type: string
        type: array
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this album.
        type: object
      href:
        description: A link to the Web API endpoint providing full details of the album.
        type: string
      albumId:
        description: The Spotify ID for the album.
        type: string
      images:
        description: 'The cover art for the album in various sizes, widest first.'
        items:
          $ref: '#/definitions/image'
        type: array
      name:
        description: The name of the album.
        type: string
      type:
        description: 'The object type: ''album''.'
        type: string
      uri:
        description: The Spotify URI for the album.
        type: string
    type: object
  album-simple-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
      items:
        description: The requested data.
        items:
          $ref: '#/definitions/album-simple'
        type: array
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
      next:
        description: URL to the next page of items. (null if none)
        type: string
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
      total:
        description: The total number of items available to return.
        type: integer
    type: object
  artist:
    properties:
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this artist.
        type: object
      genres:
        description: 'A list of the genres the artist is associated with. For example: ''Prog Rock'', ''Post-Grunge''. (If not yet classified, the array is empty.)'
        items:
          type: string
        type: array
      href:
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
      albumId:
        description: The Spotify ID for the artist.
        type: string
      images:
        description: 'Images of the artist in various sizes, widest first.'
        items:
          $ref: '#/definitions/image'
        type: array
      name:
        description: The name of the artist.
        type: string
      popularity:
        description: 'The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist''s popularity is calculated from the popularity of all the artist''s tracks.'
        type: integer
      type:
        description: 'The object type: ''artist'''
        type: string
      uri:
        description: The Spotify URI for the artist.
        type: string
    type: object
  artist-simple:
    properties:
      external_urls:
        additionalProperties:
          type: string
        description: Known external URLs for this artist.
        type: object
      href:
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
      albumId:
        description: The Spotify ID for the artist.
        type: string
      name:
        description: The name of the artist.
        type: string
      type:
        description: 'The object type: ''artist'''
        type: string
      uri:
        description: The Spotify URI for the artist.
        type: string
    type: object
  image:
    properties:
      height:
        description: 'The image height in pixels. If unknown: null or not returned.'
        type: integer
      url:
        description: The source URL of the image.
        type: string
      width:
        description: 'The image width in pixels. If unknown: null or not returned.'
        type: integer
    type: object
  search:
    properties:
      albums:
        description: Present if the type of search includes 'album'.
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
          items:
            description: The requested data.
            items:
              $ref: '#/definitions/album-simple'
            type: array
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
          next:
            description: URL to the next page of items. (null if none)
            type: string
          offset:
            description: The offset of the items returned (as set in the query or by default).
            type: integer
          previous:
            description: URL to the previous page of items. (null if none)
            type: string
          total:
            description: The total number of items available to return.
            type: integer
        type: object
      artists:
        description: Present if the type of search includes 'artist'.
        properties:
          href:
            description: A link to the Web API endpoint returning the full result of the request.
            type: string
          items:
            description: The requested data.
            items:
              $ref: '#/definitions/artist'
            type: array
          limit:
            description: The maximum number of items in the response (as set in the query or by default).
            type: integer
          next:
            description: URL to the next page of items. (null if none)
            type: string
          offset:
            description: The offset of the items returned (as set in the query or by default).
            type: integer
          previous:
            description: URL to the previous page of items. (null if none)
            type: string
          total:
            description: The total number of items available to return.
            type: integer
        type: object
    type: object
  track-simple:
    properties:
      artists:
        description: The artists who performed the track. Each artist object includes a link in href to more detailed information about the artist.
        items:
          $ref: '#/definitions/artist-simple'
        type: array
      available_markets:
        description: 'A list of the countries in which the track can be played, identified by their ISO 3166-1 alpha-2 code. '
        items:
          type: string
        type: array
      disc_number:
        description: The disc number (usually 1 unless the album consists of more than one disc).
        type: integer
      duration_ms:
        description: The track length in milliseconds.
        type: integer
      explicit:
        description: Whether or not the track has explicit lyrics (true = yes it does; false = no it does not OR unknown).
        type: boolean
      external_urls:
        additionalProperties:
          description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
          type: string
        description: Known external URLs for this track.
        type: object
      href:
        description: A link to the Web API endpoint providing full details of the track.
        type: string
      albumId:
        description: The Spotify ID for the track.
        type: string
      is_playable:
        description: 'Part of the response when Track Relinking is applied. If true, the track is playable in the given market. Otherwise false.'
        type: boolean
      linked_from:
        description: 'Part of the response when Track Relinking is applied, and the requested track has been replaced with different track. The track in the linked_from object contains information about the originally requested track.'
        properties:
          external_urls:
            additionalProperties:
              description: 'The type of the URL, for example: ''spotify'' - The Spotify URL for the object.'
              type: string
            description: Known external URLs for this track.
            type: object
          href:
            description: A link to the Web API endpoint providing full details of the track.
            type: string
          albumId:
            description: The Spotify ID for the track.
            type: string
          type:
            description: 'The object type: ''track''.'
            type: string
          uri:
            description: The Spotify URI for the track.
            type: string
        type: object
      name:
        description: The name of the track.
        type: string
      preview_url:
        description: A URL to a 30 second preview (MP3 format) of the track.
        type: string
      track_number:
        description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.'
        type: integer
      type:
        description: 'The object type: ''track''.'
        type: string
      uri:
        description: The Spotify URI for the track.
        type: string
    type: object
  track-simple-page:
    properties:
      href:
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
      items:
        description: The requested data.
        items:
          $ref: '#/definitions/track-simple'
        type: array
      limit:
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
      next:
        description: URL to the next page of items. (null if none)
        type: string
      offset:
        description: The offset of the items returned (as set in the query or by default).
        type: integer
      previous:
        description: URL to the previous page of items. (null if none)
        type: string
      total:
        description: The total number of items available to return.
        type: integer
    type: object


