<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="martonveto.com.mobsoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MobSoftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
    android:theme="@style/AppTheme">
        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.detail.DetailActivity">
        </activity>

        <activity android:name=".ui.album.list.AlbumListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.MainActivity" />
        </activity>


        <meta-data android:name="DATABASE" android:value="band_info.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="martonveto.com.mobsoft" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9f1a66b17ff5d1f7eee464b383346d41c707a0a8" />
    </application>

</manifest>